@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-parent {
  background: #f1f1f1;
  height: 427px;
  max-width: 486px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
}
.signin-parent a {
  text-decoration: none;
  height: 64px;
  width: 340px;
  border-radius: 10px;
  background-color: #009200;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: left;
  font-size: 16px;
  color: #fff;
}
.signin-parent a:hover {
  background: #00ff37;
}
.logo-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 4rem;
}
.logo-parent span {
  font-size: 24px;
  letter-spacing: -0.03em;
  line-height: 32px;
  color: #1a1a1a;
  font-weight: 700;
  margin-left: 15px;
}
.login-details-input input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}
.login-details-input {
  display: flex;
  font-size: 16px;
  align-items: center;
  gap: 15px;
  max-width: 100%;
  width: 340px;
  height: 54px;
  max-width: 100%;
  border-radius: 25px;
  background-color: #fafafa;
  border-bottom: 1px solid #808080;
  padding: 5px 20px;
  margin: 25px;
  font-size: 16px;
  color: #b3b3b3;
}
.login-details-input-1 {
  margin: 25px;
  padding-left: 10px;
}
.login-details-input input::placeholder {
  font-size: 16px;
}
.my-check {
  transform: scale(1.5);
}
.my-check:checked {
  border-color: green;
}
@media (max-width: 480px) {
  body{
    height: 100vh;
  }
  .logo-parent{
    display: none;
  }
  .signin-parent{
    width: 95%;
    margin: 0 auto;
  }
}