@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.verification-popup {
  flex: 1;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  height: 330px;
  border-radius: 20px;
}
.verification-popup h3 {
  margin-bottom: 1rem;
}
.code-inputs {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.code-inputs input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.resend-link {
  display: block;
  margin-bottom: 1rem;
  color: #00ab00;
  text-decoration: none;
}
.code {
  display: flex;
  gap: 0.5rem;
  justify-content: right;
  padding-left: 3rem;
  letter-spacing: -0.08px;
  line-height: 18px;
  width: 336px;
  font-size: 13px;
}
.verify-btn {
  background-color: #28a745;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 336px;
  height: 44px;
}
.verify-btn:hover {
  background: #99fcaf;
}
