@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -0.03em;
}
body {
  font-family: "DM Sans", sans-serif;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.pw-reset_container {
  margin: 10px;
  background: #fff;
  max-width: 100%;
  width: 370px;
  max-height: 100%;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}
.pw-reset_container h2 {
  padding-bottom: 1rem;
  font-size: 24px;
}
.pw-reset_container p {
  font-weight: 500;
}
form input {
  width: 100%;
  padding: 10px;
  border: 2px solid #00c503;
  border-radius: 10px;
  font-size: 16px;
}
input:focus {
  border-color: #b2fdc3;
  outline: none;
}
form label {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  padding-top: 1rem;
}
.reset-btn {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background: #007900;
  height: 44px;
  margin-block: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background: #00c503;
}
.verify-p {
  font-weight: 500;
  padding-block: 0.5rem;
}
